<!DOCTYPE html>
<html>
<body>

<h2>AJAX</h2>

<button type="button" onclick="loadDoc()">Request data</button>

<p id="demo"></p>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
      document.getElementById("demo").innerHTML = xhttp.responseText;
    }
  };
  xhttp.open("GET", "http://awseb-e-3-AWSEBLoa-EKSFQME2PGO3-419917081.us-west-2.elb.amazonaws.com:80/facebook", false);
  xhttp.send();
}
</script>
 
</body>
</html>